#body { 
       background-color : white;
     }

/*===================================== Tables frame ==========================*/
table.frame {
   /* background: "black" repeat;*/
    color : #000000;
    background-color: #000000;
}
td.leftup {
    width:22px;
    background: url(../../common_files/topleftcorner.png);
    background-repeat: no-repeat;
}
td.rightup {
    width:22px;
    background: url(../../common_files/toprightcorner.png);
    background-repeat: no-repeat;
}
td.leftdown {
    width:22px;
    background: url(../../common_files/bottomleftcorner.png);
    background-repeat: no-repeat;
}
td.rightdown {
    width:22px;
    background: url(../../common_files/bottomrightcorner.png);
    background-repeat: no-repeat;
}
.tabbed_content {
	 color : #000000;
    background-color: #000000;
}

.cal_box {
	 color : #000000;
    background-color: #000000;
}

.ar_box {
	 color : #000000;
    background-color: #000000;
}